@font-face {
  font-family: hanyi;
  src: url('../font/HYShuHeiW.ttf');
}
body {
  background: url(../img/header/bg.gif) repeat-x left -100px;
  margin: 0;
  padding: 0;
}
.app {
  height: 100%;
}
#header {
  position: relative;
  height: 92px;
  width: 100%;
  background: url(../img/header/bg.gif) no-repeat left top;
  text-align: left;
}
#header > .logo {
  width: 25%;
  padding-top: 18px;
  padding-left: 36px;
  text-align: left;
  float: left;
}
#header > #nav {
  height: 100%;
  width: 75%;
  float: right;
  padding: 0;
  margin: 0;
  padding-right: 7%;
}
#header > #nav > li {
  float: right;
  width: 80px;
  height: 100%;
  text-align: center;
  margin-left: 5px;
  margin-top: 15px;
}
#header > #nav > li > a {
  color: #D64C50;
  text-align: center;
  font-size: 15px;
  font-family: hanyi;
  padding: 10px;
  line-height: 70px;
}
#header > #nav > li:hover,
#header > #nav > li.active {
  background: url(../img/header/m_bg.gif) no-repeat left top;
}
.main {
  height: calc(100% - 92px);
  width: 100%;
  background: url(../img/bg.png);
  background-size: 100% 100%;
}
.main > .left_cont {
  height: 100%;
  width: 177px;
  float: left;
  background: #323332;
  border-left: 1px solid #333332;
}
.main > .left_cont > .user_cont {
  height: 155px;
  width: 100%;
  background: url(../img/bg.png);
}
.main > .left_cont > .user_cont .row {
  margin-left: 15px;
}
.main > .left_cont > .user_cont > .title {
  width: 100%;
  background: url(../img/left/bg.gif) no-repeat left top;
  height: 29px;
}
.main > .left_cont > .user_cont > .title > .quit {
  display: block;
  float: right;
  background: url(../img/left/bg.gif) no-repeat right top;
  width: 57px;
  height: 22px;
  margin: 3px 6px 0 100px;
  cursor: pointer;
}
.main > .left_cont > .user_cont > .head {
  margin: 10px;
}
.main > .left_cont > .user_cont > .head > img {
  border: 1px solid #333332;
  width: 55px;
  height: 55px;
  float: left;
}
.main > .left_cont > .user_cont > .head > .head_info {
  float: left;
  color: #fff;
  width: 100px;
  text-align: center;
}
.main > .left_cont > .user_cont > .head > .head_info > .name {
  font-size: 14px;
}
.main > .left_cont > .user_cont > .head > .head_info > .city {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  color: #FE9901;
}
.main > .left_cont > .user_cont > .money_bg {
  float: left;
  margin-left: 10px;
  background: url(../img/left/bg.gif) no-repeat left -200px;
  width: 60px;
  height: 15px;
}
.main > .left_cont > .user_cont > .money {
  float: left;
  display: block;
  font-size: 14px;
  height: 15px;
  line-height: 15px;
  font-weight: bold;
  color: #FE9901;
}
.main > .left_cont > .user_cont > .foot_btn {
  float: left;
  width: 100%;
  height: 25px;
  padding-top: 10px;
}
.main > .left_cont > .user_cont > .foot_btn > .left_btn {
  display: block;
  float: left;
  background: url(../img/left/bg.gif) no-repeat right -101px;
  width: 60px;
  height: 20px;
  cursor: pointer;
  margin: 0 10px;
}
.main > .left_cont > .user_cont > .foot_btn > .right_btn {
  display: block;
  float: left;
  background: url(../img/left/bg.gif) no-repeat right -151px;
  width: 60px;
  height: 20px;
  cursor: pointer;
}
.main > .left_cont > .left_menu {
  min-height: 50px;
}
.main > .left_cont > .left_menu > .title {
  width: 100%;
  height: 29px;
  background: url(../img/left/bg.gif) no-repeat left top;
  background-position: left -51px;
}
.main > .left_cont > .left_menu > .menu_list {
  width: 100%;
  padding: 0;
  margin: 0;
}
.main > .left_cont > .left_menu > .menu_list > li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: url(../img/left/bg.gif) no-repeat left -250px;
  padding-left: 38px;
}
.main > .left_cont > .left_menu > .menu_list > li > a {
  color: #ffba01;
  text-decoration: none;
  display: block;
  width: 100%;
}
.main > .left_cont > .left_menu > .menu_list > li.active,
.main > .left_cont > .left_menu > .menu_list > li:hover {
  background-position: left -300px;
  color: #e85353;
}
.main > .left_cont > .left_menu > .menu_list > li.hot a {
  background: url(../img/left/hot.gif) no-repeat right 5px;
}
.main > .left_cont > .left_foot {
  background: url(../img/left/bg.gif) no-repeat left -400px;
  height: 40px;
  line-height: 40px;
  width: 100%;
  text-align: center;
}
.main > .left_cont > .left_foot > .down {
  padding: 5px 10px;
  text-align: center;
  height: 100%;
}
.main > .left_cont > .left_foot > .down > img {
  width: 126px;
  height: 29px;
}
.main > .right_cont {
  height: 100%;
  width: calc(100% - 177px);
  float: left;
}
.main > .right_cont > .noctice {
  width: 100%;
  height: 35px;
  line-height: 35px;
  color: #FFF;
  font-size: 12px;
  background: url(../img/right/news_bg.gif) repeat-x left -10px;
}
.main > .right_cont > .noctice > .noctice_title {
  float: left;
  color: #F9CE46;
  margin-left: 8px;
  font-size: 14px;
  margin-right: 8px;
  cursor: pointer;
}
.main > .right_cont > .noctice > .noctice_content {
  font-size: 14px;
}
.main > .right_cont > .noctice > .noctice_content > span {
  color: #F9CE46;
  cursor: pointer;
}
.main > .right_cont > .noctice > .noctice_close {
  margin-right: 8px;
  cursor: pointer;
  float: right;
}
.main > .right_cont > .main_box {
  width: 100%;
  height: calc(100% - 35px);
  background: #D4D4D4;
  padding: 8px 5px;
}
.main > .right_cont > .main_box > .main_body {
  width: 100%;
  height: calc(100% - 2px);
}
.main > .right_cont > .main_box > .main_body > .title {
  background: url(../img/right/notice_bg.png) repeat-x left -53px;
  height: 44px;
  padding: 2px 5px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.main > .right_cont > .main_box > .main_body > .title > span {
  padding: 0 5px;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  font-weight: bold;
}
.main > .right_cont > .main_box > .main_body > .contents {
  width: 100%;
  height: calc(100% - 44px);
  min-height: calc(100% - 44px);
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: #fff;
}
